<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671148705438-sb6abak8o74ituor4duji76uan2j3jgq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671148705438-sb6abak8o74ituor4duji76uan2j3jgq</string>
	<key>API_KEY</key>
	<string>AIzaSyDMPJpppWXFQUyxLPvJn2QrCtObCmY7cG4</string>
	<key>GCM_SENDER_ID</key>
	<string>671148705438</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.naveen.Messanger</string>
	<key>PROJECT_ID</key>
	<string>messanger-8bb67</string>
	<key>STORAGE_BUCKET</key>
	<string>messanger-8bb67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671148705438:ios:6a1acb883a8a0168669d8f</string>
</dict>
</plist>